<% @products.each do |product| %>
  <h2> Name: <%= product.name %></h2>
  <h4> Price: <%= product.price %></h4>
  <div>
    <align="center">
      <img src=<%= product.image_url %> />

    </align>
  </div>
  <p>Description: <%= product.description %></p>
<% end %>