<h2> Name: <%= @products.name %></h2>
<h4> Price: <%= @products.price %></h4>
  <div>
    <align="center">
      <img src=<%= @products.image_url %> />

    </align>
  </div>
<p>Description: <%= @products.description %></p>
<a href="/products">All products</a>
